*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f32963;
    padding: 15px 80px;
    
}
.logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.nav-list{
    display: flex;
}
.nav-list li{
    list-style: none;
    padding: 0 20px;
}
.nav-list li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600px;
    color: white;
    transition: 0.3s ease-in;
}
.logo{
    color: white;
}
.nav-list li a:hover{
    color: #000000
}

.hero{
    padding: 50px 0;
    height: 90vh;

}
.hero::before{
    content:'';
    height: 100%;
    width: 62%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background: #f329632e;
}
.main{
    position: absolute;
    top:22%;
    left: 50%;
    font-size: 30px;
    background-color: #f32963;
    transform: translate(-50%,-70%);

}
.main-logo{
    position: absolute;
    right: 0;
}

.About-us{
    padding: 40px 90px;
}
.main-text h2{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.main-text p{
    padding-bottom: 40px;
}
.container-people{
    padding: 100px 0 100px;
    position: relative;
    
}
.center{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-70%);
    width: 30%;
    background-color: bisque;
    border-radius: 15px;
}
.center h1{
    text-align: center;
    padding: 30px 30px;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
.txt_field{
    position: relative;
    padding: 0 40px;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 35px;
    font-size: 16px;
    background: none;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}
input[type="submit"]:hover{
    border-color: aquamarine;
    transition: .5s;
}
/*พงศกร ขำพิศ*/
