*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f32963;
    padding: 15px 80px;
    
}
.logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.nav-list{
    display: flex;
}
.nav-list li{
    list-style: none;
    padding: 0 20px;
}
.nav-list li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600px;
    color: white;
    transition: 0.3s ease-in;
}
.logo{
    color: white;
}
.nav-list li a:hover{
    color: #000000
}

.hero{
    padding: 50px 0;
    height: 90vh;

}
.hero::before{
    content:'';
    height: 100%;
    width: 62%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background: #f329632e;
}
.main-photo{
    width: 70%;
    height: 90%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-logo{
    position: absolute;
    right: 0;
}

.About-us{
    padding: 40px 90px;
}
.main-text h2{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 40px;
}
.main-text p{
    padding-bottom: 40px;
}
.container-people{
    padding: 100px 0 100px;
    position: relative;
    
}
/*พงศกร ขำพิศ*/
