*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f32963;
    padding: 15px 80px;
    
}
.logo{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.container{
    display: flex;
    
}
.sidebar{
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    padding: 10px 14px;
    background-color: rgba(228, 211, 211, 0.719);
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 18px;
}
.sidebar li a{
    width: 100%;
    height: 100%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
}
.menu-bar{
    width: 100%;  
}
.sidebar li a:hover{
    background-color: #f32963;
}
.home{
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    flex-direction: column;  
    height: 100vh;

}
.head {
    padding-left: 8px;
    margin: 5px;
    width: 100%;
}
.text-detail-std{
    background-color: #ffa6bf;
    padding:10px;
    border-collapse: collapse;
    border-radius: 5px;
    
}
.text-detail-std .text-detail-std-td{
 padding-right: 100px;
 padding-left: 10px;

 
}
.text-detail-std td{
    border: 1px solid #ddd;
    padding:10px;
}


.box-detail-std{
    height: 70%;
    width: 100%;
    padding: 10px;
}

.menu-student-link{
    display: flex;
}
.menu-student-link li{
    list-style: none;
    font-size: 17px;
}
    
.menu-student-link li {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  padding: 5px 10px;
  margin-right:10px;
  margin-top:5px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.menu-student-link li:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }


.container-edit-std{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%,-50%) scale(1.25);
    border-radius: 7px;
    background-color: #ffa6bf;
    text-align:center;
    padding: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.box_transfer td{
    border: 1px solid;
    text-align: center;
}
.box_transfer table{
    border-collapse: collapse;
    width: 100%;
}
.container_transfer{
    display: flex;

}
.box_transfer{
    margin-top: 10px;
    margin-left:5px;
    display: flex;
    flex-direction: column;
    width: 150vh;

}
.box_transfer_social{
    margin: 15px 20px;
    background-color: #ffa6bf;
    padding: 10px;
    border-radius: 8px;

}
#submit2{
    display: none;
}
.btn_link_tran{
    background-color: green;
    border: none;
    color: inherit;
    cursor: pointer;
    padding:.3rem ;
    border-radius: .2rem;
    outline: none;
    text-decoration: none;
}
.btn_delete_trans{
    background-color: red;
    border: none;
    color: inherit;
    cursor: pointer;
    padding:.3rem;
    margin:.2rem;
    outline: none;
    border-radius: .2rem;
}
.btn_link_tran.disable,.btn_delete_trans.disable,.btn-confirm-tran.disable,.btn-cancle_tran.disable{
    pointer-events: none;
    cursor: not-allowed;
    border: none;
    color: inherit;
    padding:.3rem;
    margin:.2rem;
    border-radius: .2rem;
    background-color: gray;
}
.box-std-tran{
    background-color: #ffa6bf;
    padding:20px 1px;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: 10px;
    border-radius:  10px;

    
}
.preview-std{
    background-color: #f3f70d;
  border: 1px solid #d3f31f;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 20px;
  margin-right:10px;
  margin-top:5px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.preview-std:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  }
  @media (min-width: 768px) {
    .preview-std {
      padding: 10px 30px;
    }
  }

.download-std{
    background-color: #48ff00;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 20px;
    margin-right:10px;
    margin-top:5px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .download-std:hover {
      box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    }
    @media (min-width: 768px) {
      .download-std {
        padding: 10px 30px;
      }
    }
.preview-std.disable,.download-std.disable,.preview-pic.disable{
    align-items: center;
    pointer-events: none;
    margin: 10px 10px;
    padding: 12px 12px;
    border-radius: 5px;
    text-decoration: none;
    background-color: gray;
}
.sometime.disable,.sometime2.disable{
    visibility: hidden;
    display: none;
}
.preview-pic{
    background-color: #0d86f7;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 20px;
    margin-right:10px;
    margin-top:5px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .preview-pic:hover {
      box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    }
    @media (min-width: 768px) {
      .preview-pic {
        padding: 10px 30px;
      }
    }
.box-std-tran .pending{
    background-color: #ff7b1bd1;
    padding:10px;
    border-radius: 8px;
    margin-right:20px;
    font-size:20px;
}
.box-std-tran .pass{
    background-color: #41ff1bd1;
    padding:10px;
    border-radius: 8px;
    margin-right:20px;
    font-size:20px;
}
.box-std-tran .no-tran{
    background-color: #463358d1;
    padding:10px;
    border-radius: 8px;
    margin-right:20px;
    font-size:20px;
    color:white;
}
.v1{
    border-left: 2px solid #766f7cea;
    padding-right: 10px;
    height: 30px;
}
.container-edit-std label{
    margin-top: 10px;
    margin-left: 10px;
    text-align: right;
    clear:both;
    float:left;
    margin-right:15px;
    height: 20px;
    width: 200px;
}
.container-edit-std input,.container-edit-std select{
    height: 20px;
    width: 300px;
    border: 1px solid #000;
    margin-top: 10px;
    float: left;
}
.container-edit-std input[type=submit] {
    float:none;
}
.btn-confirm-tran{
    background-color: #13aa52;
    border: 1px solid #13aa52;
}
.btn-cancle_tran{
    background-color: #da1919;
    border: 1px solid #da1919;
}
.btn-confirm-tran,.btn-cancle_tran{
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn-confirm-tran:hover,.btn-cancle_tran:hover{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}
@media (min-width: 768px) {
    .btn-confirm-tran,.btn-cancle_tran {
      padding: 10px 30px;
    }
  }
.box-add-pic{
    transform: translate(-50%,-50%) scale(1.25);
    top: 40%;
    left: 50%;
    position: absolute;
    background-color: #ffa6bf;
    padding: 20px;
    border-radius: 10px;
}
.box-add-pic table{
    margin: 10px;
}
.box-add-pic input[type=submit]{
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 5px 10px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.box-add-pic input[type=submit]:hover{
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}
.container-box1{
    margin-left: 15px;
    margin-top: 20px;
    padding: 15px 30px;
    width: 100%;
    background-color: #ffa6bf;
}
/*พงศกร*/